body {
  margin: 0;
}

// Padding for the header.
#masthead {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Restrict site logo to its bootstrap column, 1/4th default
.site-branding img {
  max-width: 100%;
}